/**
* 1. Project-wide color variables.
* Uses http://chir.ag/projects/name-that-color/ to generate
* appropriate colour variable name.
*/
$colorMonza: #cc0011;
$colorBlueRibbon: #066ce8;
$colorJade: #00aa6e;
$colorAmber: #ffc000;
$colorMineShaft: #292929;
$colorAbbey: #45494c;
$colorRollingStone: #727779;
$colorOsloGrey: #929598;
$colorDustyGrey: #979797;
$colorSilverSand: #c4c7ca;
$colorMercury: #e1e1e1;
$colorConcrete: #f3f3f3;
$colorWhite: #ffffff;
$colorWhiteTransparent90: rgba(255,255,255,.9);
$colorWaikawaGray: #5d73af;
$colorPunch: #dd4b39;
$colorEmerald: #46c078;
$colorBondiBlue: #00aab4;
$colorFireEngineRed: #d7252c;
$colorVermilion: #FF4900;
$colorIndigo: #46126d;
$colorFrenchRose: #F2478C;
$colorTurquoise: #00F9CF;