@import "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&display=swap";

$primaryFontFamily:  'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primaryFontRegular: 400;
$primaryFontSemiBold: 600;
$primaryFontBold: 700;

$secondaryFontFamily: ('Georgia', serif);
$secondaryFontFamilyRegular: 400;
$secondaryFontFamilyBold: 700;
