$primaryFontFamily:  ('opensans', 'Helvetica Neue', Helvetica, Arial, sans-serif);
$primaryFontRegular: 400;
$primaryFontSemiBold: 600;
$primaryFontBold: 700;

$secondaryFontFamily: ('Georgia', serif);
$secondaryFontFamilyRegular: 400;
$secondaryFontFamilyBold: 700;
