/***
  Body font: Open Sans
  Font weights: regular, semibold (600), bold
  Font styles: italic (regular only)
*/

html {
  font-size: 62.5% !important; /* allows us to use 1rem = 10px, 1.6rem = 16px etc */
}

.body-font {
  font-family: 'open sans';
  font-weight: normal;
  font-size: normal;
}

.body-font-bold {
  font-weight: bold;
}

.body-font-semi {
  font-weight: 600;
}

.body-font-italic {
  font-style: italic;
}

/***
  Accent font: Georgia
*/

.accent-font {
  font-family: 'Georgia', 'Times New Roman', 'Times', serif;
  font-weight: 400;
}
